body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    font-family: "Raleway", sans-serif;
}

section.table {
    margin-top: 2rem;
    div.container {
        table {
            width: fit-content;
            margin-top: 5rem;
            th {
                vertical-align: middle;
            }
            td:nth-of-type(4) {
                text-align: right;
            }
        }
        h1.title {
            font-size: 32px;
        }
    }
}
